.flex-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: rgb(146, 145, 144);

}


.flex-container > div{
    background: rgb(237, 228, 228);
    width: 150px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}