.ex1{
    font-size: 25px;
    width: 500px;
    margin: auto;
    border: 5px solid darkblue;
}


.ex2{
    font-size: 30px;
    max-width: 500px;
    margin: auto;
    border: 5px solid darkred;
}