.grad{
    width: 500px;
    height: 300px;
    background-image:radial-gradient(blue,red,yellow)
}

.grad1{
    width: 400px;
    height: 300px;
    background-image:radial-gradient(blue,yellow,black,gold)
}

.grad3{
    width: 450px;
    height: 350px;
    background-image:radial-gradient(circle,green,yellow,blue,red,orange)
}

.grad4{
    width: 600px;
    height: 500px;
    background-image:radial-gradient(circle,violet,blue,lightblue,green,yellow,orange,red)
}
.grad5{
    width: 550px;
    height: 450px;
    background-image: repeating-radial-gradient(circle,blue,green,red);
}